# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
pprint(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query = establishments.find_many({"hygiene": {'$eq': 20}})

# Use count_documents to display the number of documents in the result
count_documents = len(query)
# Display the first document in the results using pprint
pprint(query(0))

TypeError: 'Collection' object is not callable. If you meant to call the 'find_many' method on a 'Collection' object it is failing because no such method exists.

In [ ]:
# Convert the result to a Pandas DataFrame
results = list(query)
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(len(df))
# Display the first 10 rows of the DataFrame
print(df.head(10))

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = establishments.find({"Local Authority": "London", "RatingValue": {'$gte': 4}})

# Use count_documents to display the number of documents in the result
count_documents = establishments.count_documents({"Local Authority": "London", "RatingValue": {'$gte': 4}})
# Display the first document in the results using pprint
print(f'Number of documents matching criteria: {count_documents}') 
pprint(query[0])

In [ ]:
# Convert the result to a Pandas DataFrame
results = list(query) 
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(f'Number of rows in DataFrame: {len(df)}')
# Display the first 10 rows of the DataFrame
print(df.head(10))

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01 
latitude = 51.50 # London Latitude 
longitude = -0.12 # London longitude

query = establishments.find({
     "RatingValue": 5,
     "geocode.latitude": 
     {'$gte': latitude - degree_search, '$lte': latitude + degree_search}, 
     "geocode.longitude": {'$gte': longitude - degree_search, '$lte': longitude + degree_search} }).sort("hygiene", 1).limit(10)
sort =
limit =

# Print the results
print(query)

In [ ]:
# Convert result to Pandas DataFrame
results = list(query) 
df = pd.DataFrame(results) 
print(df)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [ {"$match": {"hygiene": 0}}, 
            {"$group": {"_id": "$Local Authority", "count": {"$sum": 1}}}, 
            {"$sort": {"count": -1}}
# Print the number of documents in the result
results = list(establishments.aggregate(pipeline)) 
print(f'Number of documents in the result: {len(results)}')
# Print the first 10 results
pprint(results[:10])

In [ ]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(f'Number of rows in DataFrame: {len(df)}')
# Display the first 10 rows of the DataFrame
print(df.head(10))